footer {
  display: flex;
  flex-direction: column;
  align-items: center; // Вирівнює по центру по горизонталі
  justify-content: center; // Вирівнює по центру по вертикалі
  //margin: 2vw 5vw;
  .footer-icon {
    // height: 17vw;
    width: 100%;
  }

  .footer-rect2 {
    padding: 3vw 2vw;
    display: flex;
    align-items: center;
    text-align: center; // Розміщує колонки рівномірно
    width: 100%; // Заповнює всю доступну ширину
    color: white;
    background: #000000;
  }

  //початок опису лівої частини футера
  .left-part-footer {
    padding: 0;
    justify-items: center;

    .footer-logo {
      width: 20vw;
      //height: 18vh;
      //width: 100%;
      // max-width: 60vw;
    }


    .team {
      margin-top: 1.5vw;
      display: flex;
      white-space: nowrap;
      //text-align: center;
      justify-content: space-between;

      h6 {
        font-size: 1.5vw;
        font-family: 'Montserrat Alternates', sans-serif;
      }
    }
  }

  //кінець опису лівої частини футера

  //початок опису центральної частини футера
  .center-part-footer,
  .right-part-footer {
    justify-items: center;

    .all-nav {
      display: flex;
      justify-content: space-between;
    }

    .nav-title-footer {
      font-family: 'Dela Gothic One', sans-serif;
      font-size: 1.3vw;
      letter-spacing: 0.3vw;
      margin-bottom: 5vh;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
    }

    .nav-bottom {
      display: flex;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 1vw;
      margin: 0.5vw;
    }

  }
}