@mixin font-montserrat-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: 3px;
}

@mixin font-dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;

}

$green-main: #4c7839;

.logo {
  width: 10vw;
  height: 5vw;
}

.navbar {
  background: linear-gradient(to right, #000000, #465F3C);
  width: 100%;
  margin: 0;

  //position: relative;
  //display: -webkit-box;
  //display: -ms-flexbox;
  display: flex;
  //-ms-flex-wrap: wrap;
  //flex-wrap: wrap;
  //-webkit-box-align: center;
  //-ms-flex-align: center;
  //align-items: center;
  //-webkit-box-pack: justify;
  //-ms-flex-pack: justify;
  //justify-content: space-between;
  //padding: .5vw 1vw;
  //background: linear-gradient(to right,#000000,#465F3C);
  //width: 100%;
  //margin: 0;
}

.row {
  margin: 0 !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.photo-rest {
  margin: 0;
  padding: 0;
  //min-width: 25vw ;
  height: 60vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 5vw;
    object-fit: cover; /* обрізає зображення, щоб воно заповнювало контейнер */

  }
}

.name-rest {
  margin-top: 18vh;

  h1 {
    @include font-montserrat-bold;
  }

  h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 1vw;
  }
}

.place {
  font-size: 1.7vw;
}

.text-outline {
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: 2px;
}

.text-wrapper {
  width: 100%;
  margin: 10vh 0 5vh;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  color: white;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px black;
}

.icons {
  width: 4.5vw;
 // height: 9vh;
}

.g-5 {
  justify-content: center;
  gap: 16vw;
}

.rect {
  text-align: center;
  padding: 2vw 0 0;
  border: 0.2vw solid $green-main;
  border-radius: 2.5vw;
  width: 16vw !important;
  height: 18vw !important;
}

.rect-full {
  @extend .rect;
  background: rgba(76, 120, 57, 0.42);
}

.info-rest {
  font-family: "Montserrat", sans-serif;
  //text-align: center;
  color: black;

  h4 {
    margin-top: 0.5vw;
    font-weight: 700;
    font-size: 1.5vw;
    text-transform: uppercase;

  }

  p {
    margin-top: 1.7vw;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.3vw;
  }

}

.rest-description {
  margin-top: 13vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 3vw;
  //line-height: 187%;
  text-align: justify;
  color: black;
}

.rest-contact {
  margin-top: 13vh;
  color: black;

  a {

    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    word-wrap: break-word; /*переносить на інший рядок як текст задовгий для контейнера*/
    overflow-wrap: break-word; /* забезпечує сумісність з більш старими браузерами якшо функція вище не спрацювала :)*/
  }

  .connect-1 {
    @include font-dela;
    font-size: 1.8vw;
    margin-bottom: 3vh;
    text-transform: uppercase;
    // text-align: center;

  }
}

.scroller {
  margin-top: 4vh;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6vw;
  padding: 2vw 5vw 2vw 5vw;
  scroll-behavior: smooth;

}

.scroller::-webkit-scrollbar {
  height: 1.5vh; /* Висота смуги прокрутки */
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(51, 62, 46, 0.8); /* Колір "повзунка" */
  border-radius: 1vh;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #333E2E; /* Колір "повзунка" при наведенні */
}

.scroller::-webkit-scrollbar-track {
  margin-top: 2vh; /* Для плавного скролінгу */
  background: rgba(76, 120, 57, 0.42); //доріжка
}

.scroller img {
  width: 25vw;
  height: 30vw;
  object-fit: cover;
  flex-shrink: 0; /* Забезпечує, що зображення не стискаються */
  border-radius: 5vh; /* Округлення кутів (опційно) */
}

footer {
  .footer-icon {
  // height: 17vw;
    width: 100vw;
  }

  .footer-rect2 {
    color: red;
    background: #000000;
  }
}

