.scroller {
  margin-top: 4vh;
  display: flex;
  overflow: hidden; /* Hide the scrollbar */
  //overflow-x: auto; /* Hide the scrollbar */
  white-space: nowrap;
  gap: 6vw;
  padding: 2vw 5vw;
  scroll-behavior: smooth;
}

.scroller img {
  width: 25vw;
  height: 30vw;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 5vh;
}

///* Center the container */
//.arrows {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  margin: 1vw 1.5vw;
//
//}
//
///* Style the arrow buttons */
//.arrow-button {
//  width: 7vw;
//  height: 7vw;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border: 0.016vw solid #000;
//  border-radius: 2vw;
//  cursor: pointer;
//  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//  background-color: #fff;
//  //background-color: rgba(255, 255, 255, 0.8);
//  transition: all 0.3s ease;
//}
//
//.arrow-button svg {
//  height: auto;
//  width: 3vw;
//  transition: transform 0.3s ease;
//}
//
//.arrow-button:hover {
//  background-color: #000;
//  stroke: #fff;
//  fill: #fff;
//  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
//  transform: scale(1.1);
//}
//
//.arrow-button:hover img {
//  transform: translateX(2px);
//}
//
//.arrow-button svg path {
//  fill: #000; /* Початковий колір */
//  transition: transform 0.3s ease;
//}
//
//.arrow-button:hover svg path {
//  fill: #fff; /* Колір заливки при наведенні */
//}